@import url('/assets/fonts/urbanist/urbanist.css');

:root {
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Urbanist, sans-serif;
    background-color: #000;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 1440px;
    margin: 0 auto;
}

section,
footer {
    padding: 2rem;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 100px;
    border: 1px solid rgba(254, 254, 254, 0.25);
    padding: .5rem .5rem .5rem 2rem;
    margin: 0 auto;
    width: 100%;
}

.logo {
    display: flex;
    align-items: center;
    gap: .75rem;
    font-size: 1.5rem;
    text-decoration: none;
    color: #fff;
}

nav {
    display: flex;
    gap: .5rem;
}

nav a {
    color: #fff;
    text-decoration: none;
    display: flex;
    padding: .75rem 0;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    border: 1px solid rgba(254, 254, 254, 0.25);
    font-size: 1.25rem;
    width: 200px;
    text-align: center;
    font-weight: 400;
}

nav a:hover {
    background-color: #fff;
    color: #000;
}

nav a:last-of-type {
    background-color: #fff;
    color: #000;
}

.section-intro {
    background-image: url(../images/hero-img.png);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    min-height: 997px;
    position: relative;
}

.steps-svg {
    position: absolute;
    top: 2rem;
    left: 0;
}

.hero-cta-card {
    position: absolute;
    top: 6rem;
    right: 0;
    width: 415px;
    backdrop-filter: blur(7.5px);
}