@import url('../fonts/urbanist/urbanist.css');

:root {
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Urbanist, sans-serif;
    background-color: #000;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 1440px;
    margin: 0 auto;
}

section,
footer {
    padding: 2rem;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 100px;
    border: 1px solid rgba(254, 254, 254, 0.25);
    padding: .5rem .5rem .5rem 2rem;
    margin: 0 auto;
    width: 100%;
}

.logo {
    display: flex;
    align-items: center;
    gap: .75rem;
    font-size: 1.5rem;
    text-decoration: none;
    color: #fff;
}

nav {
    display: flex;
    gap: .5rem;
}

nav a {
    color: #fff;
    text-decoration: none;
    display: flex;
    padding: .75rem 0;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    border: 1px solid rgba(254, 254, 254, 0.25);
    font-size: 1.25rem;
    width: 200px;
    text-align: center;
    font-weight: 400;
}

nav a:hover {
    background-color: #fff;
    color: #000;
}

nav a:last-of-type {
    background-color: #fff;
    color: #000;
}

.section-intro {
    background-image: url(../images/hero-img.png);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    min-height: 997px;
    position: relative;
}

.steps-svg {
    position: absolute;
    top: 2rem;
    left: 0;
}

.hero-cta-card {
    position: absolute;
    top: 6rem;
    right: 0;
    width: 415px;
    backdrop-filter: blur(7.5px);
}

.hero-headline-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 1024px;
}

h1 {
    color: #FEFEFE;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
    font-size: 96px;
    font-weight: 400;
}

.sub-headline-wrapper {
    padding: 5rem 0;
    display: flex;
    gap: .5rem;
    align-items: center;
}

.sub-headline-wrapper p {
    color: #FEFEFE;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    max-width: 600px;
    /* 162.5% */
}

.btn-white {
    background-color: #fff;
    color: #000;
    padding: 1rem 2rem;
    border-radius: 100px;
    font-size: 1.25rem;
    font-weight: 400;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: fit-content;
    font-size: 18px;
    min-width: 184px;
}

.star-img {
    margin-right: 1rem;
    margin-left: 6rem;
}